<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]>
<html dir="{{ direction }}" lang="{{ lang }}" class="ie8">
   <![endif]-->
   <!--[if IE 9 ]>
   <html dir="{{ direction }}" lang="{{ lang }}" class="ie9">
      <![endif]-->
      <!--[if (gt IE 9)|!(IE)]><!-->
      <html dir="{{ direction }}" lang="{{ lang }}">
         <!--<![endif]-->
         <head>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WWTVK5R');</script>
<!-- End Google Tag Manager -->


            <meta charset="UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <title>{{ title }}</title>
            <base href="{{ base }}" />
            {% if description %}
            <meta name="description" content="{{ description }}" />
            {% endif %}
            {% if keywords %}
            <meta name="keywords" content="{{ keywords }}" />
            {% endif %}
           <meta name="msapplication-TileColor" content="#d20f2c">
			<meta name="theme-color" content="#d20f2c">
			<script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js" async></script>
<!--		<link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" /> -->
            <script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js" defer></script>
			<link href="catalog/view/theme/{{ mytemplate }}/stylesheet/stylesheet.css" rel="stylesheet" />
<!-- Test video_chat style -->
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">  
			<a id="button" href='https://linkchat.io/room-2020-10-02-083141477' target="_blank" title='Видео консультация'>
<!-- Test video_chat style -->
			<link rel="stylesheet" type="text/css" href="catalog/view/theme/{{ mytemplate }}/stylesheet/themecss/lightbox.css" async />
            <link rel="stylesheet" type="text/css" href="catalog/view/javascript/jquery/magnific/magnific-popup.css" defer />
            <link rel="stylesheet" type="text/css" href="catalog/view/theme/{{ mytemplate }}/stylesheet/themecss/carousel.css" defer />
            <link rel="stylesheet" type="text/css" href="catalog/view/theme/{{  mytemplate }}/stylesheet/themecss/custom.css" defer />
            <link rel="stylesheet" type="text/css" href="catalog/view/theme/{{  mytemplate }}/stylesheet/themecss/bootstrap.min.css" defer />
            <link rel="stylesheet" type="text/css" href="catalog/view/theme/{{  mytemplate }}/stylesheet/themecss/animate.css" defer />
            <link rel="stylesheet" type="text/css" href="catalog/view/javascript/jquery/owl-carousel/owl.transitions.css" defer />
            <link rel="stylesheet" type="text/css" href="catalog/view/javascript/jquery/owl-carousel/owl.carousel.css" defer />

            <script src="catalog/view/javascript/lightbox/lightbox-2.6.min.js"  defer></script>
            {% for style in styles %}
            <link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}"  defer />
            {% endfor %}
            {% for script in scripts %}
            <script src="{{ script }}"></script>
            {% endfor %}
            <script src="catalog/view/javascript/common.js" defer></script>
            {% for link in links %}
            <link href="{{ link.href }}" rel="{{ link.rel }}" />
            {% endfor %}
            {% for analytic in analytics %}
            {{ analytic }}
            {% endfor %}
          
			 
		<script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');ga('create', 'UA-100392212-1', 'auto');ga('send', 'pageview');</script><!-- Google Code for Conversion Page --><script type="text/javascript">/* <![CDATA[ */var google_conversion_id = 856185458;var google_conversion_language = "en";var google_conversion_format = "3";var google_conversion_color = "ffffff";var google_conversion_label = "9myICMj603EQ8rShmAM";var google_remarketing_only = false;/* ]]> */</script><script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script><noscript><div style="display:inline;"><img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/856185458/?label=9myICMj603EQ8rShmAM&guid=ON&script=0"/></div></noscript>	 
			 
         </head>
         {% if (column_left and column_right) %}
         {% set layoutclass = 'layout-3' %}
         {% elseif (column_left or column_right) %}
         {% if column_left %}
         {% set layoutclass = 'layout-2 left-col' %}
         {% elseif column_right %}
         {% set layoutclass = 'layout-2 right-col' %}
         {% endif %}
         {% else %}
         {% set layoutclass = 'layout-1' %}
         {% endif %}
		  
		  
		  
		  
		  
         <body class="{{ class }} {{ " " }} {{ layoutclass }}">		 
			 
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WWTVK5R"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
			 
		         <header>
            <div class="content_headercms_top">
				  <div class="hidden-lg hidden-md" style="padding-top:5px;">
					 
				<img src="https://mebel-soyuz.com.ua/image/cache/catalog/main-icon-24x24.png" alt=""> <a href="tel:0981380404" style="background-color: initial;">(098) 138-04-04</a> 				
					  
					  <img src="https://mebel-soyuz.com.ua/image/cache/catalog/vodafone-icon-24x24.png" alt=""> <a href="tel:0509232230" style="background-color: initial;">(050) 923-22-30</a>
					
				</div>
				
				
               <div class="container">			  	 

                  	<div class="header-logo">	
					  
						<div id="logo">
							{% if logo %}<a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" /></a>{% else %}
							<h1><a href="{{ home }}">{{ name }}</a></h1>
						
							{% endif %}
						
						</div>			
					</div>
					<div class="header-entry">
					    <div class="header-row hidden-xs hidden-sm">
							<nav class="block top-menu">
								<ul class="wrapper clear">
									<li class="top-delivery">
										<a href="/oferta.html">
											<span>Оферта</span>
										</a>
									</li>
									<li class="top-terms">
										<a href="/garanty.html">
											<span>Гарантия</span>
										</a>
									</li>
									<li class="top-garantee">
										<a href="/dostavka_i_oplata.html">
											<span>Оплата и доставка</span>
										</a>
									</li>
									<li class="top-delivery">
										<a href="/kredit_i_rassrochka.html">
											<span>Кредит</span>
										</a>
									</li>
									<li class="top-credit">
										<a href="https://mebel-soyuz.com.ua/index.php?route=product/reviews">
											<span>Отзывы</span>
										</a>
									</li>
									<li class="top-reviews">
										<a href="https://mebel-soyuz.com.ua/akcya/">
											<span>Акции</span>
										</a>
									</li>
									<li class="top-promotions">
										<a href="/blog/">
											<span>Блог</span>
										</a>
									</li>
									<li class="top-novelty">
										<a href="/videoobzor/">
											<span>Видеообзоры</span></a>
									</li>
									<li class="top-articles">
										<a href="/contact.html">
											<span>Контакты</span>
										</a>
									</li>
								   
								</ul>
							</nav>
							<div class="header-delivery">Доставка по Украине 1-3 дня</div>
						</div>
						<div class="row header-row">
							<div class="col-xs-12 col-md-8 hidden-xs hidden-sm">
								<div class="dropdown search" title="{{ text_search }}">{{ search }}</div>									
								<a class="callback hidden-xs hidden-sm" onclick="get_modal_callbacking();"><i class="fa fa-phone"></i>Заказать звонок</a>
								
								<div class="call-us hidden-xs hidden-sm">
									<div class="phone-item phone-ks"><a href="tel:0981380404">(098) 138-04-04</a></div>
									<div class="phone-item phone-vf"><a href="tel:0509232230">(050) 923-22-30</a></div>
								</div>
								
							</div>
							<div class="col-xs-12 col-md-4">
								<div class="header-actions">	
									<div class="header-action"><a href="https://mebel-soyuz.com.ua/index.php?route=product/compare" class="btn btn-link" rel="nofollow"><i class="fa fa-balance-scale"></i><span class="hidden"> Список сравнения</span></a></div>
									<div class="header-action"><a href="{{ wishlist }}" class="btn btn-link"  id="wishlist-total" title="{{ text_wishlist }}" rel="nofollow"><i class="fa fa-heart-o"></i><span class="hidden"> {{ text_wishlist }}</span></a></div>
									<div class="header-cart">{{ cart }}</div>
									<div class="dropdown myaccount">
										 <a href="{{ account }}" title="{{ text_account }}" class="dropdown-toggle" data-toggle="dropdown" rel="nofollow"><span class="user-info-desc">{{ text_account }}</span> <span class="caret"></span></a>
										 <ul class="dropdown-menu dropdown-menu-right myaccount-menu">
											<span class="setting">Setting</span>
											{% if logged %}
											<li><a href="{{ account }}" title="{{ text_account }}">{{ text_account }}</a></li>
											<li><a href="{{ order }}" title="{{ text_order }}">{{ text_order }}</a></li>
											<li><a href="{{ transaction }}" title="{{ text_transaction }}">{{ text_transaction }}</a></li>
											<li><a href="{{ download }}" title="{{ text_download }}">{{ text_download }}</a></li>
											<li><a href="{{ logout }}" title="{{ text_logout }}">{{ text_logout }}</a></li>
											{% else %}
											<li><a href="{{ register }}" title="{{ text_register }}" rel="nofollow">{{ text_register }}</a></li>
											<li><a href="{{ login }}" title="{{ text_login }}" rel="nofollow">{{ text_login }}</a></li>
											{% endif %}
											<nav id="top">
											   <div id="top-links" class="nav pull-right">
												  <ul class="list-inline">
													 <li><a href="{{ wishlist }}" id="wishlist-total" title="{{ text_wishlist }}" rel="nofollow"> {{ text_wishlist }}</a></li>
													 <li><a href="https://mebel-soyuz.com.ua/index.php?route=product/compare" id="wishlist-total" rel="nofollow"> Сравнение</a></li>
													 <li class="checkout-wrapper"><a href="{{ checkout }}" title="{{ text_checkout }}" rel="nofollow"><span class="checkout">{{ text_checkout }}</span></a></li>
												  </ul>
											   </div>
											</nav>
										 </ul>
									  </div>
									
								</div>
								
							</div>
						</div>
						
						{{ header_bottom }}
						{{ currency }}
						{{ language }}
				 
				   </div>
               </div>
            </div>
            <div class="nav-full-wrapper">
		
				
				<div class="container">
          
                  {{ menu }} 
	   
		
				   
               </div>
            </div>
					        
					 
         </header>

	
         <div class="nav-inner-cms">
            <div class="header-bottom">
            </div>
         </div>
         <div class="content_headercms_bottom"></div>
         <div id="breadcrumb">
            <div class="container">
            </div>
         </div>

         <div class="my-main-container">
		
         <script> 
            function quickbox(){
             if ($(window).width() > 767) {
                $('.quickview').magnificPopup({
                  type:'iframe',
                  delegate: 'a',
                  preloader: true,
                  tLoading: 'Loading image #%curr%...',
                });
             }  
            }
            jQuery(document).ready(function() {quickbox();});
            jQuery(window).resize(function() {quickbox();});
            
         </script>
		 
